<section class="amount"> <!-- amount start -->
    <div class="container">
        <div class="amount__tite anim-items">
            <h2 class="section__title">Разработка сайта — это создание инструмента, интегрированного в бизнес заказчика</h2>
            <img src="images/rocet.svg" alt="" class="amount__img">
        </div>
        
        <div class="amount__text anim-items">Хороший сайт с понятной навигацией и встроенными сервисами оптимизирует бизнес-процессы и качественно меняет диалог с клиентом. Невозможно создать полноценный сайт компании за короткий срок — только последовательная работа приводит к высоким результатам. Каждый проект мы разбиваем на несколько этапов, что позволяет минимизировать риски, адекватно оценить стоимость и сроки разработки.</div>
    </div>
</section> <!-- amount end -->

