<section class="benefits"> <!-- benefits start -->
    <div class="container">
        <h2 class="section__title anim-items">Почему нас выбирают?</h2>
        <div class="benefits-wrapper">
            <div class="benefit anim-items">
                <img src="images/benefit1.svg" alt="" class="benefit__img">
                <h3 class="benefit__title">Индивидуальный подход</h3>
                <p>Тестируем десятки гипотез перед тем, как предложить клиенту первую концепцию</p>
            </div>
            <div class="benefit anim-items">
                <img src="images/benefit2.svg" alt="" class="benefit__img">
                <h3 class="benefit__title">Работаем на результат</h3>
                <p>На выходе сайт, готовый к старту рекламной компании и поискового продвижения</p>
            </div>
            <div class="benefit anim-items">
                <img src="images/benefit3.svg" alt="" class="benefit__img">
                <h3 class="benefit__title">Прозрачность процесса</h3>
                <p>Вы платите исключительно за потраченное время, согласно план-графику работ</p>
            </div>
            <div class="benefit anim-items">
                <img src="images/benefit4.svg" alt="" class="benefit__img">
                <h3 class="benefit__title">Техническая поддержка</h3>
                <p>Мы с вами всегда на связи и оперативно решаем задачи любой сложности</p>
            </div>
        </div>
    </div>
</section> <!-- benefits end -->