<section class="blog"> <!-- blog start -->
    <div class="container">
        <h1 class="main__title anim-items">Блог</h1>
        <div class="articles__wrapper">           
            <div class="blog__articles">
                <div class="blog__article">
                    <a href="page.html">
                        <img src="images/img.png" alt="">
                    </a>

                    <div class="article__info">
                        <div class="article__tag">Разработка веб-приложений</div>
                        <span class="dote"></span>
                        <div class="article__date">24.01.2024</div>
                    </div>
                    <h3 class="blog__article-title"><a href="page.html">Как сделать сводную таблицу Excel: пошаговая инструкция</a></h3>
                </div>

                <div class="blog__article">
                    <a href="page.html">
                        <img src="images/img.png" alt="">
                    </a>

                    <div class="article__info">
                        <div class="article__tag">Разработка веб-приложений</div>
                        <span class="dote"></span>
                        <div class="article__date">24.01.2024</div>
                    </div>
                    <h3 class="blog__article-title"><a href="page.html">Тестирование QA и QC: чем они различаются?</a></h3>
                </div>

                <div class="blog__article">
                    <a href="page.html">
                        <img src="images/img.png" alt="">
                    </a>

                    <div class="article__info">
                        <div class="article__tag">Разработка веб-приложений</div>
                        <span class="dote"></span>
                        <div class="article__date">24.01.2024</div>
                    </div>
                    <h3 class="blog__article-title"><a href="page.html">Кто такой маркетолог-аналитик и чем он занимается</a></h3>
                </div>

                <div class="blog__article">
                    <a href="page.html">
                        <img src="images/img.png" alt="">
                    </a>

                    <div class="article__info">
                        <div class="article__tag">Разработка веб-приложений</div>
                        <span class="dote"></span>
                        <div class="article__date">24.01.2024</div>
                    </div>
                    <h3 class="blog__article-title"><a href="page.html">Красиво и понятно: какие инструменты для визуализации данных нужны дата-аналитику</a></h3>
                </div>

                <div class="blog__article">
                    <a href="page.html">
                        <img src="images/img.png" alt="">
                    </a>
                    
                    <div class="article__info">
                        <div class="article__tag">Разработка веб-приложений</div>
                        <span class="dote"></span>
                        <div class="article__date">24.01.2024</div>                        
                    </div>
                    <h3 class="blog__article-title"><a href="page.html">От тренера до инженера: 6 новых IT-профессий для тех, кто хочет работать с нейросетями</a></h3>
                </div>

                <div class="blog__article">
                    <a href="page.html">
                        <img src="images/img.png" alt="">
                    </a>
                    
                    <div class="article__info">
                        <div class="article__tag">Разработка веб-приложений</div>
                        <span class="dote"></span>
                        <div class="article__date">24.01.2024</div>                        
                    </div>
                    <h3 class="blog__article-title"><a href="page.html">Чем занимается программист игр на Unity и C#</a></h3>
                </div>

                <div class="blog__article">
                    <a href="page.html">
                        <img src="images/img.png" alt="">
                    </a>
                    
                    <div class="article__info">
                        <div class="article__tag">Разработка веб-приложений</div>
                        <span class="dote"></span>
                        <div class="article__date">24.01.2024</div>                        
                    </div>
                    <h3 class="blog__article-title"><a href="page.html">Кем нарядиться на Хэллоуин: примерьте костюм айтишника</a></h3>
                </div>

                <div class="blog__article">
                    <a href="page.html">
                        <!-- <img src="images/img.png" alt=""> -->
                    </a>
                    
                    <div class="article__info">
                        <div class="article__tag">Разработка веб-приложений</div>
                        <span class="dote"></span>
                        <div class="article__date">24.01.2024</div>                        
                    </div>
                    <h3 class="blog__article-title"><a href="page.html">Что подарить айтишнику</a></h3>
                </div>

                <div class="blog__article">
                    <a href="page.html">
                        <img src="images/img.png" alt="">
                    </a>
                    
                    <div class="article__info">
                        <div class="article__tag">Разработка веб-приложений</div>
                        <span class="dote"></span>
                        <div class="article__date">24.01.2024</div>                        
                    </div>
                    <h3 class="blog__article-title"><a href="page.html">Как сделать сводную таблицу Excel: пошаговая инструкция</a></h3>
                </div>

                <div class="blog__article">
                    <a href="page.html">
                        <img src="images/img.png" alt="">
                    </a>
                    
                    <div class="article__info">
                        <div class="article__tag">Разработка веб-приложений</div>
                        <span class="dote"></span>
                        <div class="article__date">24.01.2024</div>                        
                    </div>
                    <h3 class="blog__article-title"><a href="page.html">Как сделать сводную таблицу Excel: пошаговая инструкция</a></h3>
                </div>


            </div>
            <!-- после подгрузки новых записей должна быть вызвана функция blogArticlePosition(), чтобы равномерно распределить статьи и рассчитать высоту страницы -->
            <button class="btn load-more">Больше статей</button>

        </div>
        <div class="blog__right">
            <div class="tags">
                <h2 class="tags__title">Рубрикатор</h2>                
                <div class="tags-wrapper">
                    <button class="btn tag">Аналитика</button>
                    <button class="btn tag active">Datawrapper</button>
                    <button class="btn tag"> Программирование</button>
                    <button class="btn tag">Бизнес</button>
                    <button class="btn tag">QlikView</button>
                    <button class="btn tag">Разработка</button>
                </div>
            </div>
        </div>

    </div>
</section> <!-- blog end -->