<footer class="footer">
    <div class="running-string">
        <span>SoftRest.</span>
        <span>SoftRest.</span>
        <span>SoftRest.</span>
        <span>SoftRest.</span>
        <span>SoftRest.</span>
        <span>SoftRest.</span>
        <span>SoftRest.</span>
        <span>SoftRest.</span>
        <span>SoftRest.</span>
        <span>SoftRest.</span>
        <span>SoftRest.</span>
        <span>SoftRest.</span>
        <span>SoftRest.</span>
        <span>SoftRest.</span>
        <span>SoftRest.</span>
        <span>SoftRest.</span>
        <span>SoftRest.</span>
        <span>SoftRest.</span>
        <span>SoftRest.</span>
        <span>SoftRest.</span>
    </div>    
    <div class="container">
        <div class="footer__top">
            <div class="footer__menu">
                <ul class="footer__menu-list">
                    <li class="footer__menu-item"><a href="services.html">Услуги</a></li>
                    <li class="footer__menu-item"><a href="blog.html">Блог</a></li>
                    <li class="footer__menu-item"><a href="contacts.html">Контакты</a></li>
                </ul>
            </div>

            <div class="footer__contact-buttons">
                <a href="tel:" class="btn">+7 (999) 111-22-33</a>
                <a href="tel:" class="btn">+7 (911) 444-55-77</a>
                <a href="mailto:info@softrest.ru" class="mail">info@softrest.ru</a>
            </div>
        </div>

        <div class="footer__bottom">
            <div class="footer__logo">
                <img src="images/logo-white.svg" alt="SoftRest">
            </div>

            <div class="footer__links">
                <a href="#!" class="privacy-policy">Политика конфиденциальности</a>
                <a href="#!" class="copyright">Онего Веб-Софт 2024 © Все права защищены.</a>
            </div>
        </div>
    </div>
</footer>
 <!--=include modal.html -->
 <script
  src="https://code.jquery.com/jquery-3.7.1.slim.min.js"
  integrity="sha256-kmHvs0B+OpCW5GVHUNjv9rOmY0IvSIRcf7zGUDTDQM8="
  crossorigin="anonymous"></script>
<script src="js/main.min.js"></script>

</body>

</html>