<!DOCTYPE html>
<html lang="ru">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SoftRest</title>
    <link rel="stylesheet" href="css/style.min.css">
</head>

<body>
    <header class="header">
        <div class="container">
            <div class="logo-wrapper">
                <a href="index.html">                    
                    <img src="images/logo.svg" alt="SoftRest" class="logo">
                </a>
            </div>

            <nav class="header__menu">
                <div class="logo-white">
                    <a href="index.html">
                        <img src="images/logo-white.svg" alt="SoftRest" class="logo">
                    </a>
                </div>
                <div class="close-btn">
                    <svg width="26" height="20" viewBox="0 0 26 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <rect x="5.25293" y="0.0713806" width="25" height="2.66667" rx="1.33333" transform="rotate(45 5.25293 0.0713806)"
                            fill="white" />
                        <rect x="3" y="17.6777" width="25" height="2.66667" rx="1.33333" transform="rotate(-45 3 17.6777)" fill="white" />
                    </svg>                        
                </div>
                <ul class="header__menu-list">
                    <li class="header__menu-item"><a href="services.html">Услуги</a></li>
                    <li class="header__menu-item"><a href="blog.html">Блог</a></li>
                    <li class="header__menu-item"><a href="contacts.html">Контакты</a></li>
                </ul>

                <div class="header__contacts-buttons">
                    <a href="tel:" class="btn">+7 (999) 111-22-33</a>
                    <a href="tel:" class="btn">+7 (911) 444-55-77</a>
                    <a href="mailto:info@softrest.ru" class="header__mail mail">info@softrest.ru</a>
                </div>
    
                <div class="language">
                    <button class="language-btn">
                        <span>Русский</span>
                           <img src="images/ru.svg" alt="" class="lang-img">
                    </button>
                    <ul class="language-list">
                        <li data-value="ru" class="language-item ">
                            <span>Русский</span>
                            <img src="images/ru.svg" alt="" class="lang-img">
                        </li>
                        <li data-value="en" class="language-item active">
                            <span class="english">English</span>
                            <img src="images/eng.svg" alt="" class="lang-img">
                        </li>
                    </ul>
                </div>
            </nav>

            <div class="burger">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>
    </header>