<section class="services-page">
    <div class="container">
        <h2 class="main__title anim-items">Услуги</h2>
        <div class="services__wrapper">
            <div class="service__card anim-items" style="background-image: url('images/service-1.svg');">
                <h3 class="service__card-title">Веб-сервис</h3>
                <p>Разработка простых и сложных saas-решений: аукционы, тендерные площадки, панели управления, тотализаторы, киберспортивные площадки.</p>
                <span class="service__card-price">От 700.0000 ₽</span>
                <button class="btn open-modal__btn">Оставить заявку</button>
            </div>
            <div class="service__card anim-items" style="background-image: url('images/service-2.svg');">
                <h3 class="service__card-title">Интернет-магазин</h3>
                <p>От нескольких товаров до крупных каталогов продукции — создание сайта для бизнеса любого масштаба. Цель — продажа товаров вашей компании через интернет (Ecommerce).</p>
                <span class="service__card-price">От 600.0000 ₽</span>
                <button class="btn open-modal__btn">Оставить заявку</button>
            </div>
            <div class="service__card anim-items" style="background-image: url('images/service-3.svg');">
                <h3 class="service__card-title">Сайт услуг</h3>
                <p>Такой веб-сайт необходим, если вы оказываете услуги другому бизнесу (B2B) или конечному клиенту (B2C). Цель — привлечение клиентов из сети.</p>
                <span class="service__card-price">От 500.0000 ₽</span>
                <button class="btn open-modal__btn">Оставить заявку</button>
            </div>
            <div class="service__card anim-items" style="background-image: url('images/service-4.svg');">
                <h3 class="service__card-title">Корпоративный сайт</h3>
                <p>Разработка сайтов для тех, кому важно присутствовать в интернете. Цель — публикация новостей/событий, размещение информации для посетителей (в том числе для сотрудников компании и бизнес-партнеров).</p>
                <span class="service__card-price">От 400.0000 ₽</span>
                <button class="btn open-modal__btn">Оставить заявку</button>
            </div>
            <div class="service__card anim-items" style="background-image: url('images/service-5.svg');">
                <h3 class="service__card-title">Landing page</h3>
                <p>Нужен, если вы предлагаете один продукт (услугу). Максимально раскрывает выгоду и преимущества товара/услуги. Цель — сбор контактных данных покупателей.</p>
                <span class="service__card-price">От 200.0000 ₽</span>
                <button class="btn open-modal__btn">Оставить заявку</button>
            </div>
            <div class="service__card anim-items" style="background-image: url('images/service-6.svg');">
                <h3 class="service__card-title">Сайт-визитка</h3>
                <p>Самая важная информация о вашей компании на нескольких страницах. Цель — заинтересовать потенциальных клиентов и партнеров.</p>
                <span class="service__card-price">От 200.0000 ₽</span>
                <button class="btn open-modal__btn">Оставить заявку</button>
            </div>
        </div>
    </div>
</section>