<div class="services"> <!-- services start -->
    <div class="container">
        <span class="round " id="round-4"></span>
        <div class="services-wrapper">
            <div class="service">
                <a href="#!" class="service__link"></a>
                <h3 class="service__title">Веб-сервис</h3>
                <div class="service__image-overlay">
                    <img src="images/service1.png" alt="">
                </div>
            </div>
            <div class="service">
                <a href="#!" class="service__link"></a>
                <h3 class="service__title">Сайт услуг</h3>
                <div class="service__image-overlay">
                    <img src="images/service1.png" alt="">
                </div>                
            </div>
            <div class="service">
                <a href="#!" class="service__link"></a>
                <h3 class="service__title">Корпоративный сайт</h3>
                <div class="service__image-overlay">
                    <img src="images/service2.png" alt="">
                </div>                
            </div>
            <div class="service">
                <a href="#!" class="service__link"></a>
                <h3 class="service__title">Landing page</h3>
                <div class="service__image-overlay">
                    <img src="images/service3.png" alt="">
                </div>                
            </div>
            <div class="service">
                <a href="#!" class="service__link"></a>
                <h3 class="service__title">Интернет-магазин</h3>
                <div class="service__image-overlay">
                    <img src="images/service4.png" alt="">
                </div>                
            </div>
            <div class="service">
                <a href="#!" class="service__link"></a>
                <h3 class="service__title">Сайт-визитка</h3>
                <div class="service__image-overlay">
                    <img src="images/service5.png" alt="">
                </div>                
            </div>
        </div>
    </div>
</div> <!-- services end -->