<section class="steps"> <!-- steps start -->
    <div class="container">
        <h2 class="section__title">Этапы работы</h2>
    </div>
    <div class="steps__accordion">
        <div class="step">
            <div class="container">
                <div class="accordion__header">
                <span class="step-number">01</span>
                <h3 class="accordion__title">Анализ требований</h3>    
                </div>
                <div class="accordion__body">
                    <div class="accordion__text">На данном этапе мы проводим встречи для выяснения потребностей и ожиданий
                        от сайта. Этот процесс включает в себя изучение бизнес-модели компании, определение целевой
                        аудитории и функциональных требований.</div>
                </div>
            </div>
        </div>
        <div class="step">
            <div class="container">
                <div class="accordion__header">
                <span class="step-number">02</span>
                <h3 class="accordion__title">Создание дизайна</h3>    
                </div>
                <div class="accordion__body">
                    <div class="accordion__text">
                        На данном этапе мы проводим встречи для выяснения потребностей и ожиданий
                        от сайта. Этот процесс включает в себя изучение бизнес-модели компании, определение целевой
                        аудитории и функциональных требований.
                        На данном этапе мы проводим встречи для выяснения потребностей и ожиданий
                        от сайта. Этот процесс включает в себя изучение бизнес-модели компании, определение целевой
                        аудитории и функциональных требований.
                        На данном этапе мы проводим встречи для выяснения потребностей и ожиданий
                        от сайта. Этот процесс включает в себя изучение бизнес-модели компании, определение целевой
                        аудитории и функциональных требований.
                        На данном этапе мы проводим встречи для выяснения потребностей и ожиданий
                        от сайта. Этот процесс включает в себя изучение бизнес-модели компании, определение целевой
                        аудитории и функциональных требований.
                        На данном этапе мы проводим встречи для выяснения потребностей и ожиданий
                        от сайта. Этот процесс включает в себя изучение бизнес-модели компании, определение целевой
                        аудитории и функциональных требований.
                    </div>
                </div>
            </div>
        </div>
        <div class="step">
            <div class="container">
                <div class="accordion__header">
                <span class="step-number">03</span>
                <h3 class="accordion__title">Разработка функционала</h3>    
                </div>
                <div class="accordion__body">
                    <div class="accordion__text">На данном этапе мы проводим встречи для выяснения потребностей и ожиданий
                        от сайта. Этот процесс включает в себя изучение бизнес-модели компании, определение целевой
                        аудитории и функциональных требований.</div>
                </div>
            </div>
        </div>
        <div class="step">
            <div class="container">
                <div class="accordion__header">
                <span class="step-number">04</span>
                <h3 class="accordion__title">Тестирование</h3>    
                </div>
                <div class="accordion__body">
                    <div class="accordion__text">На данном этапе мы проводим встречи для выяснения потребностей и ожиданий
                        от сайта. Этот процесс включает в себя изучение бизнес-модели компании, определение целевой
                        аудитории и функциональных требований.</div>
                </div>
            </div>
        </div>
        <div class="step">
            <div class="container">
                <div class="accordion__header">
                <span class="step-number">05</span>
                <h3 class="accordion__title">Запуск сайта</h3>    
                </div>
                <div class="accordion__body">
                    <div class="accordion__text">На данном этапе мы проводим встречи для выяснения потребностей и ожиданий
                        от сайта. Этот процесс включает в себя изучение бизнес-модели компании, определение целевой
                        аудитории и функциональных требований.</div>
                </div>
            </div>
        </div>
        <div class="step">
            <div class="container">
                <div class="accordion__header">
                <span class="step-number">06</span>
                <h3 class="accordion__title">Поддержка и обслуживание</h3>    
                </div>
                <div class="accordion__body">
                    <div class="accordion__text">На данном этапе мы проводим встречи для выяснения потребностей и ожиданий
                        от сайта. Этот процесс включает в себя изучение бизнес-модели компании, определение целевой
                        аудитории и функциональных требований.</div>
                </div>
            </div>
        </div>
    </div>
</section> <!-- steps end -->